@model BucksSafePlaceSite2.Models.Incident
<h2 style="color:#fff">Break/New Line Cheat</h2>
@{
    ViewBag.Title = "Delete Report";
}

<h2>@ViewBag.Title.</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Incident Title")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentTitle)
        </dd>

        <dt>
            @Html.DisplayName("Incident Location")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentLocation)
        </dd>

        <dt>
            @Html.DisplayName("Incident Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentDate)
        </dd>
        <dt>
            @Html.DisplayName("Tag")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt>
            @Html.DisplayName("Report")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
