@model BucksSafePlaceSite2.Models.Incident
<h2 style="color:#fff">Break/New Line Cheat</h2>
@{
    ViewBag.Title = "Details of Report";
}

<h2>@ViewBag.Title.</h2>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
    @Html.DisplayName("Incident Title")
</dt>

<dd>
    @Html.DisplayFor(model => model.IncidentTitle)
</dd>

<dt>
    @Html.DisplayName("Incident Location")
</dt>

<dd>
    @Html.DisplayFor(model => model.IncidentLocation)
</dd>

<dt>
    @Html.DisplayName("Incident Date")
</dt>

<dd>
    @Html.DisplayFor(model => model.IncidentDate)
</dd>

        <dt>
            @Html.DisplayName("Tag")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

<dt>
    @Html.DisplayName("Report")
</dt>

<dd>
    @Html.DisplayFor(model => model.Report)
</dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.IncidentID }) ---> No Editing by user only admin, higher authority*@
    @Html.ActionLink("Back to List", "Index")
</p>
