@model IEnumerable<BucksSafePlaceSite2.Models.Incident>
<h2 style="color:#fff">Break/New Line Cheat</h2>
@{
    ViewBag.Title = "Incidents";
}

<h2 style="color:orange">@ViewBag.Title.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by Tag: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Incident Title")
        </th>
        <th>
            @Html.DisplayName("Incident Location")
        </th>
        <th>
            @Html.DisplayName("Incident Date")
        </th>
        <th>
            @Html.ActionLink("Tag", "Index", new { sortOrder =ViewBag.NameSortParm}, new { @style = "color:#000;" })
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Report)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Report)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IncidentID }, new { @style = "color:#000;" }) |
            @Html.ActionLink("Details", "Details", new { id=item.IncidentID }, new { @style = "color:#000;" }) 
           
        </td>
    </tr>
}

</table>
