@model IEnumerable<BucksSafePlaceSite2.Models.Incident>
<h2 style="color:#fff">Break/New Line Cheat</h2>
@{
    ViewBag.Title = "Incidents";
}

<h2>@ViewBag.Title.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Incident Title")
        </th>
        <th>
            @Html.DisplayName("Incident Location")
        </th>
        <th>
            @Html.DisplayName("Incident Date")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Report)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Report)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IncidentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IncidentID }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.IncidentID }) ---> Only to be used in view of Manager/Admin*@
        </td>
    </tr>
}

</table>
